canvas {
    border: 1px solid #000000;
    background-color: rgb(255, 255, 255);
    margin: auto;
}
body {
    background-color: darkslateblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}